<div class="center-container">
  <h2 class="title">String Calculator</h2>
  <kendo-textbox placeholder="Enter the Value" [(ngModel)]="stringValue"
                 style="width: 300px; height: 40px;">
  </kendo-textbox>
  <input type="text" *ngIf="!isNegative" placeholder="Calculated Result" [value]="calculatedResult" disabled
         style="width: 280px; height: 35px; margin-top: 10px;">

  <input type="text" *ngIf="isNegative" placeholder="Calculated Result" [value]="calculatedResult" disabled
         style="width: 280px; height: 35px; margin-top: 10px; background-color:red">
  <button (click)="onCalculate()" class="center-button">Submit</button>
</div>


